{% extends "base/base.html" %}
{% block content %}

	<div class="ui main container">
		<h1>Login</h1>

		<div class="ui two column middle aligned very relaxed stackable grid">
{#		<div class="ui column middle aligned very relaxed stackable grid">#}
			<div class="column">
				{% url 'login' as url %}
				{% include "base/form_template.html" with action=url action_text="Login" omit_end=True %}
				<a class="ui blue basic button" href="{% url "forgyftapp:reset" %}">
					<i class="icon redo alternate"></i>
					Reset Password
				</a>
				<br><p>Don't have an account? <a href="{% url "forgyftapp:signup" %}">Sign up here</a></p>
			</div>
		</div>
		<div class="divider-column">
			<div class="ui vertical divider">
				Or
			</div>
		</div>
		<div class="center aligned column">
			{% include "auth/../base/social_template.html" with next=next %}
		</div>
	</div>

{% endblock %}