{% extends "base/base.html" %}

{% block extra_js_dependencies %}
	<script src="{% load static %}{% static "semantic/components/rating.min.js" %}"></script>
{% endblock %}

{% block extra_dependencies %}
	<link rel="stylesheet" type="text/css" href="{% load static %}{% static "semantic/components/rating.min.css" %}">
	<script>
		$(document).ready(function () {
			$(".ui.rating:not(.disabled)").rating();
			$(".ui.rating.disabled").rating("disable");
		});
	</script>
{% endblock %}

{% block content %}
	<div class="ui two column doubling stackable grid">
		<div class="four wide column">
			<div class="ui container segment" style="width: 100%">
				<h1>{{ user.first_name }} {{ user.last_name }}</h1>
				<p>Joined {{ user.date_joined|date:"M d, Y" }}</p>
			</div>
			<div class="ui container" style="width: 100%">
				<div class="ui card">
					<div class="content">
						<div class="header">
							Average Rating
						</div>
						<div class="meta">
							<span class="date">
								{{ user.rating_amount }} User Ratings
							</span>
						</div>
					</div>
					<div class="extra content">
						<div class="ui rating disabled" data-rating="{{ user.average_rating }}"
						     data-max-rating="5"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="twelve wide column">
			<div class="ui container segment" style="width: 100%;">
				<h1>Listings</h1>
				<div class="ui divider"></div>
				<div class="ui relaxed divided list">
					{% for listing in listings %}
					<div class="item">
						<div class="right floated content">
							<div class="ui {{ listing.tag.0 }} label">{{ listing.tag.1 }}</div>
						</div>
						<div class="content">
							<a class="header" href="{{ listing.inspect_url }}">
								{{ listing.title }}
							</a>
							<div class="description">
								${{ listing.price }} - {{ listing.product }}
							</div>
						</div>
					</div>
					{% empty %}
						<p>
							It looks like {{ user.first_name }} hasn't created any public listings.
						</p>
					{% endfor %}
				</div>
			</div>
			<div class="ui container segment" style="width: 100%;">
				<h1>Reviews</h1>
				<div class="ui divider"></div>
				<div class="ui relaxed divided list">
					{% for review in reviews %}
						<div class="item">
							<div class="content">
								<div class="header">
									<div class="right floated content">
										<div class="ui label">
											<div class="ui rating disabled" data-rating="{{ review.stars }}"
											     data-max-rating="5"></div>
										</div>
									</div>
									<a href="{{ review.listing.payment.buyer.profile_url }}">
										{{ review.listing.payment.buyer.get_full_name }}
									</a>
									on
									<a href="{{ review.listing.inspect_url }}">
										{{ review.listing.title }}
									</a>
								</div>
								<div class="description">
									{{ review.message }}
								</div>
							</div>
						</div>
					{% empty %}
						<p>
							It looks like {{ user.first_name }} hasn't received any reviews.
						</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}