{% extends "base/base.html" %}
{% block content %}
	<div class="ui main container">
		<h1>Sign up</h1>

		<div class="ui two column middle aligned very relaxed stackable grid">
{#		<div class="ui column middle aligned very relaxed stackable grid">#}
			<div class="column">
				{% include "base/form_template.html" with action_text="Signup" %}
				<br>
				<p>Already have an account? <a href="{% url "forgyftapp:login" %}{% if next %}?next={{ next }}
{% endif %}">Login here</a></p>
			</div>
			<div class="divider-column">
				<div class="ui vertical divider">
					Or
				</div>
			</div>
			<div class="center aligned column">
				{% include "auth/../base/social_template.html" with text="Signup" %}
			</div>
		</div>
	</div>
{% endblock %}