<div class="ui fluid container">
	<div class="ui segments" style="border: none; box-shadow: none">
		<div class="ui segment" style="border-top: none; margin: 0 auto">
			<a class="ui grey button" href="{% url 'social:begin' 'github' %}{% if next %}?next={{ next }}{% endif %}" style="width: 220px;">
				<i class="github icon"></i>
				Login with GitHub
			</a>
		</div>
		<div class="ui segment" style="border-top: none; margin: 0 auto">
			<a class="ui google plus button" href="{% url 'social:begin' 'google-oauth2' %}{% if next %}?next={{ next }}{% endif %}" style="width: 220px;">
				<i class="google icon"></i>
				Login with Google
			</a>
		</div>
		<div class="ui segment" style="border-top: none; margin: 0 auto">
			<a class="ui twitter button" href="{% url 'social:begin' 'twitter' %}{% if next %}?next={{ next }}{% endif %}" style="width: 220px;">
				<i class="twitter icon"></i>
				Login with Twitter
			</a>
		</div>
		<div class="ui segment" style="border-top: none; margin: 0 auto">
			<a class="ui teal button" href="{% url 'social:begin' 'slack' %}{% if next %}?next={{ next }}{% endif %}" style="width: 220px;">
				<i class="slack icon"></i>
				Login with Slack
			</a>
		</div>
	</div>
</div>
