{% extends "base.html" %}
{% block content %}
	<div class="ui main container">
		<div class="ui three column center stackable grid">
			<div class="three wide column"></div>
			<div class="ten wide column">
				<p style="text-align: center; padding-bottom: 4px; font-size: 16px">List of Giftees</p>
				<ul>
					{% for giftee_profile in object_list %}
						<li>
							{{ giftee_profile.interests }} | {{ giftee_profile.pk }}
						</li>
					{% empty %}
						<li>No profile yet.</li>
					{% endfor %}

				</ul>
			</div>
			<div class="three wide column"></div>
		</div>

	</div>

{% endblock %}