<form action="{{ action }}" method="{{ method|default:"post" }}">
	<div class="ui form">
		{% csrf_token %}
		{% for hidden_field in form.hidden_fields %}
			{{ hidden_field }}
		{% endfor %}
		{% for field in form.visible_fields %}
			{% if field.field.widget.input_type == "select" %}
				<div class="ui field form">
					<label for="{{ field.id_for_label }}" style="display: inline">{{ field.label }}</label>
					{% if field.help_text %}
						<label style="font-weight: 100; font-size: 13px; display: inline">
							- {{ field.help_text }}</label>
					{% endif %}
					<select class="ui search nullable dropdown" name="{{ field.html_name }}"
					        id="{{ field.id_for_label }}">
{#						{% for instance in field.field.queryset %}#}
{#							<option value="{{ instance.pk }}">{{ instance|stringformat:"s" }}</option>#}
{#						{% endfor %}#}
						{% if not field.field.queryset or not field.field.required %}
							<option value="" selected>---------</option>
						{% endif %}
						{% for choice in field.field.choices %}
							{% if field.value|stringformat:"s" == choice.0|stringformat:"s" %}
								<option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
							{% else %}
								<option value="{{ choice.0 }}">{{ choice.1 }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
			{% elif field.field.widget.input_type == "number" and stars %}
				<div class="field">
					<label for="{{ field.id_for_label }}" style="display: inline">{{ field.label }}</label>
					{% if field.help_text %}
						<label style="font-weight: 100; font-size: 13px; display: inline"> -
							{% autoescape off %}{{ field.help_text }}{% endautoescape %}</label>
					{% endif %}
					<div class="ui input" style="padding-top: 8px">
						<div class="ui huge rating" data-rating="{{ field.value }}" data-max-rating=
								"{{ field.field.max_value }}" data-input="{{ field.id_for_label }}"></div>
						<input style="display: none" id="{{ field.id_for_label }}" name="{{ field.html_name }}"
						       type="number" value="{{ field.value }}">
					</div>
				</div>
			{% elif field.field.widget.input_type == "checkbox" %}
				<div class="inline field">
					<div class="ui toggle checkbox">
						<input {% if field.value == True %}checked{% endif %} type="checkbox" tabindex="0" class="hidden" style="display: inline"
						       name="{{ field.html_name }}" id="{{ field.id_for_label }}">
						<label for="{{ field.id_for_label }}" style="display: inline">{{ field.label }}</label>
						{% if field.help_text %}
							<p style="font-weight: 100; display: inline"> - {% autoescape off %}{{ field.help_text }}{% endautoescape %}</p>
						{% endif %}
					</div>
				</div>
			{% else %}
				<div class="field">
					<label for="{{ field.id_for_label }}" style="display: inline">{{ field.label }}</label>
					{% if field.help_text %}
						<label style="font-weight: 100; font-size: 13px; display: inline"> - {% autoescape off %}{{ field.help_text }}{% endautoescape %}</label>
					{% endif %}
					<div class="ui {% if field.label == "Max Price" %}labeled {% endif %} input">
                        {% if field.label == "Max Price" %}
	                        <div class="ui label">
		                        $
	                        </div>
                        {% endif %}
						{{ field }}
					</div>
				</div>
			{% endif %}

		{% if field.errors %}
			<div class="ui list">
				{% for error in field.errors %}
					<div class="item">
						<div class="ui negative message">
							<p>
								{{ error }}
							</p>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}

		{% endfor %}
		{% if error %}
			<div class="ui negative message">
				<p>
					{{ error }}
				</p>
			</div>
		{% endif %}
		{% if message_type == "terms_of_service" %}
			<p>
				By clicking submit you agree our
				<a href="{% url "forgyftapp:terms"%}">terms of service</a>.
			</p>
		{% endif %}
		<button class="ui blue submit button" type="submit" name="{{ form.prefix }}">{{ action_text }}</button>
		{% if not omit_end %}
	</div>
</form>
{% endif %}