{% if not no_open %}
<div class="ui styled accordion" style="width: 100%;">
  <div class="{% if not closed %}active {% endif %}title">
    <i class="dropdown icon"></i>
      {{ giftee_profile.name }}'s Profile
  </div>
{% endif %}
<div class="{% if not closed %}active {% endif %} content">
    <div class="ui dividing sub header">Gender</div>
<p>{{ giftee_profile.gender_string }}</p>

<div class="ui dividing sub header">Age</div>
<p>{{ giftee_profile.age }}</p>

<div class="ui dividing sub header">Occasion</div>
<p>{{ giftee_profile.occasion }}</p>

<div class="ui dividing sub header">Relationship</div>
<p>{{ giftee_profile.relationship }}</p>

<div class="ui dividing sub header">Maximum Price</div>
<p>{{ giftee_profile.price_upper }}</p>

<div class="ui dividing sub header">Interests</div>
<p>{{ giftee_profile.interests }}</p>

{# IMPORANT - This template is rendered for experts too, make sure no sensitive information is displayed in this template #}

{% if giftee_profile.existing_related_items %}
	<div class="ui dividing sub header">Items They Already Have</div>
	<p>{{ giftee_profile.existing_related_items }}</p>
{% endif %}

{% if giftee_profile.extra_info %}
	<div class="ui dividing sub header">Extra Info</div>
	<p>{{ giftee_profile.extra_info }}</p>
{% endif %}

{% if giftee_profile.personality_traits %}
	<div class="ui dividing sub header">Personality Traits</div>
	<p>{{ giftee_profile.personality_traits }}</p>
{% endif %}

{% if not no_close %}
  </div>
</div>
{% endif %}
