

<a class="{% if page == "home" %}active {% endif %}item" href="{% url "forgyftapp:index" %}">
{% if not pointing %}
	<img src="{% load static %}{% static "favicon/favicon-32x32.png" %}" style="width: 18px; margin-right: 4px"/>
{% endif %}
	Home
</a>
{#<a class="{% if page == "blog" %}active {% endif %}item" href="/blog">Blog</a>#}
<a class="{% if page == "request" %}active {% endif %}item" href="{% url "forgyftapp:request" %}">Quiz</a>
{#<a class="{% if page == "how_it_works" %}active {% endif %}item">How it Works</a>#}
<a class="{% if page == "about" %}active {% endif %}item" href="{% url "forgyftapp:about" %}">About Us</a>
{% if user.is_staff %}
	<a class="{% if page == "fulfill" %}active {% endif %}item" href="{% url "forgyftapp:fulfill" %}">Fulfill</a>
{% endif %}
<div class="right menu">
	{% if not request.user.is_authenticated %}
		<div class="item">
			<a class="ui button" href="{% url "forgyftapp:login" %}">Login</a>
		</div>
		<div class="item">
			<a class="ui primary button" href="{% url "forgyftapp:signup" %}">Sign up</a>
		</div>
	{% else %}
		<div class="ui simple dropdown item">
			{{ request.user.email }}
			<i class="dropdown icon"></i>
			<div class="dropdown menu" style="margin-top: 0">
				<a class="item" href="{% url "forgyftapp:logout" %}">Sign out</a>
				<a class="item" href="{% url "forgyftapp:request" %}">My gift requests</a>
			</div>
		</div>
	{% endif %}
</div>
