Django==2.1.2
social-auth-app-django==2.1.0
django-anymail==4.3
gunicorn==19.9.0
psycopg2==2.7.5
django-storages==1.7.1
boto3==1.9.37
collectfast==0.6.2
requests==2.20.0
wagtail==2.3
bugsnag==3.4.3
webpreview==1.4.0
tldextract==2.2.0
celery==4.2.1
tqdm==4.28.1
git+https://github.com/abenassi/Google-Search-API/
dill==0.2.8.2
requests-futures==0.9.9
django-celery-results==1.0.4