{% extends "base/base.html" %}

{% block extra_js_dependencies %}
	<script src="{% load static %}{% static "semantic/components/rating.min.js" %}"></script>
{% endblock %}

{% block extra_dependencies %}
	<link rel="stylesheet" type="text/css" href="{% load static %}{% static "semantic/components/rating.min.css" %}">
{% endblock %}

{% block content %}
	<div class="ui main container">
		<div class="ui two column doubling stackable grid">
			<div class="four wide column">
				<div class="ui container segment" style="width: 100%">
					{% if user.first_name %}
						<h1>{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</h1>
					{% else %}
						<h1>{{ user.email }}</h1>
					{% endif %}
					<p>Joined {{ user.date_joined|date:"M d, Y" }}</p>
				</div>
{#				<div class="ui container" style="width: 100%">#}
{#					<div class="ui card">#}
{#						<div class="content">#}
{#							<div class="header">#}
{#								Average Gift Rating#}
{#							</div>#}
{#							<div class="meta">#}
{#							<span class="date">#}
{#								{{ user.rating_amount }} User Ratings#}
{#							</span>#}
{#							</div>#}
{#						</div>#}
{#						<div class="extra content">#}
{#							<div class="ui rating disabled" data-rating="{{ user.average_rating }}"#}
{#							     data-max-rating="5"></div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
			</div>
			<div class="twelve wide column">
				<div class="ui container segment" style="width: 100%;">
					{% if expert_profile_form %}
						<h1>Hey{% if user.first_name %} {{ user.first_name|capfirst }}{% endif %}, let's finish setting
							up your
							expert
							account</h1>
						<div class="ui divider"></div>
						<div class="ui relaxed divided list">
							{% include "base/form_template.html" with form=expert_profile_form action_text="Submit" %}
						</div>
					{% elif display_sample_request %}
						<h1>Last step, let's try filling out a sample gift request</h1>
						<div class="ui divider"></div>
						<p>When a use submits a gift request that matches your profile, you'll automatically get an
							email asking you to fill out the gift request. Gift requests will generally look like this,
							you should try to use as much information given to find the perfect gift ideas. Good
							luck!</p>
						<div style="padding-bottom: 8px"></div>
						<div class="ui relaxed divided list">
							{% include "base/giftee_profile.html" with giftee_profile=sample_gift_request no_close=True no_open=True %}
							<h1 style="text-align: center; padding-bottom: 4px">Enter Gift Ideas</h1>
							<p>
								When you are finished entering gift ideas and are ready to submit them, press the
								publish button to publish all gift ideas. Please be sure to at least submit one idea,
								though 3-4 is optimal.
							</p>
							{% include "base/gift_ideas_form.html" %}
						</div>
					{% else %}
						<h1>Unfulfilled Gift Requests</h1>
						<p>This is your main feed where all unfulfilled gift requests will show up, check here to see an
							overview of your gift requests and work on fulfilling them.
						</p>
						<div class="ui divider"></div>
						{% if unfulfilled_requests %}
							<div class="ui divided items">
							{% for request in unfulfilled_requests %}
								<div class="item">
								<div class="content">
									<a class="header">{{ request.occasion }} Gift</a>
									<div class="meta">
										<span class="cinema">{{ request.interests }}</span>
									</div>
									<div class="description">
										<p></p>
									</div>
									<div class="extra">
										<div class="ui label">${{ request.price_upper }}</div>
										<a class="ui right floated primary button" href="
{% url "forgyftapp:expert_fulfill" slug=request.slug %}">
											Fulfill Request
											<i class="right chevron icon"></i>
										</a></div>
								</div>
							{% endfor %}
						</div>
						{% else %}
							<div class="ui disabled header" style="text-align: center; margin-top: 16px; margin-bottom:
						2px">
								You currently have no unfulfilled gift requests, great job!
							</div>
						{% endif %}
					{% endif %}
					</div>
				</div>
			</div>
		</div>

{% endblock %}