{% extends "base.html" %}
{% block content %}
        <div class="ui container">

        </div>
        <div class="ui text container">
            <h1 class="ui inverted header">
                Cover your page.
            </h1>
            <p>
                Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and
                add your own fullscreen background photo to make it your own.
            </p>
            <div class="ui massive white button">
                Learn more
            </div>
        </div>
        <div class="ui inverted vertical footer segment">
            Cover template for <a href="http://semantic-ui.com">Semantic-UI</a>, by <a
                href="https://github.com/semantic-ui-forest">@Semantic-UI-Forest</a>.
        </div>
    </div>

{% endblock %}