{% extends "base/base.html" %}

{% block extra_dependencies %}
	<style type="text/css">
		.bg1::after {
			background-image: url("{% load static %}{% static "images/create.jpg" %}") !important;
		}
	</style>
{% endblock %}

{% block navbar %}
	<div class="ui large top fixed hidden menu homepage" id="fixedMenu">
		<div class="ui container">
			{% include "base/navbar.html" with pointing=True sidebar=True %}
		</div>
	</div>
	<!--Sidebar Menu-->
	<div class="ui vertical inverted sidebar menu">
		{% include "base/navbar.html" with sidebar=True pointing=True%}
	</div>
{% endblock %}


{% block content %}
	<!--Page Contents-->

{#<div class="touch">#}
	<div class="pusher" >
		<div class="parallax-wrapper">
			<div class="ui inverted vertical center aligned segment section parallax bg1 masthead"
			     style="background: none">
				<div class="ui container">
					<div class="ui large secondary inverted pointing menu"
					     style="text-shadow: 0px 0px 8px #000;">
						{#                    <a class="toc item">#}
						{#                        <i class="sidebar icon"></i>#}
						{#                    </a>#}
						{% include "base/navbar.html" %}
					</div>
				</div>
				<div class="ui text container" style="margin-top: 150px">
					<h1 style="font-family: 'Expletus Sans', cursive; color: #BF0000;
font-weight: 900;
		text-shadow: 1px 0px 8px #000000;" class="ui inverted header">
						Forgift Experts
					</h1>


					<h2 style="font-weight: 900;
		text-shadow: 1px 0px 8px #000; color: #FFFFFF;">
						Do you love giving gift ideas? You would be perfect for a Forgift Expert! Just fill out a quick
						signup with all your interests - start getting gift matches and start making money!
					</h2>
					<a class="ui big animated button" href="{% url "forgyftapp:experts_signup" %}" tabindex="0">
						<div class="visible content">Join Now</div>
						<div class="hidden content">
							<i class="fas fa-arrow-right icon-5x"></i>
						</div>
					</a>
				</div>
			</div>

			{#			<div class="masthead" style="height: 1px"></div>#}
			<div class="static">
				<div class="ui vertical stripe segment">
					<div class="ui middle aligned stackable grid container">
						<div class="row">
							<div class="ui three column grid">
								<div class="row">
									<div class="column">
										<div class="ui center aligned container">
											<i class="fas fa-pen fa-3x" style="text-align: center"></i>
											<h2 style="padding-top: 4px">Sign up</h2>
											<p>Click signup and fill in the quick form and tell us about yourself.</p>
										</div>
									</div>
									<div class="column">
										<div class="ui center aligned container">
											<i class="fas fa-gift fa-3x" style="text-align: center"></i>
											<h2 style="padding-top: 4px">Gift Request</h2>
											<p>Fill out a test gift request to help us get to know your expertise.</p>
										</div>
									</div>
									<div class="column">
										<div class="ui center aligned container">
											<i class="fas fa-dollar-sign fa-3x" style="text-align: center"></i>
											<h2 style="padding-top: 4px">Start Gifting</h2>
											<p>Start giving people amazing gift recommendations.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="eight wide column">
								<div>

									<h3 class="ui header">
										Do what you love – and get paid!
									</h3>
									<p>
										Doing what you love is the best thing in the world. But getting PAID to do it –
										is out of this world!
									</p>
									<a class="ui big animated button" href="{% url "forgyftapp:experts_signup" %}"
									   tabindex="0">
										<div class="visible content">Sign Up</div>
										<div class="hidden content">
											<i class="fas fa-pen icon-5x"></i>
										</div>
									</a>
								</div>
								<div style="margin-top: 32px">
									<h3 class="ui header">
										Meet other experts!
									</h3>
									<p>
										Once you sign up, you’ll have access to all our amazing experts! Meet new people
										and team-up to create amazing gift ideas!
									</p>
								</div>


							</div>
							<div class="six wide right floated column">
								<img class="ui large bordered rounded image"
								     src="{% load static %}{% static "images/gift.jpg" %}"/>
							</div>
						</div>
						<div class="row" style="padding-left: 14px">
							<a class="ui big animated button" href="{% url "forgyftapp:experts_signup" %}" tabindex="0">
								<div class="visible content">Join Now</div>
								<div class="hidden content">
									<i class="fas fa-gift icon-5x"></i>
								</div>
							</a>
						</div>
					</div>
				</div>

				<div class="ui vertical stripe quote segment">
					<div class="ui equal width stackable internally celled grid">
						<div class="center aligned row">
							<div class="column">
								<h3>
									2 out of every 3 people say they feel under too much pressure to buy the right gift
									for a
									family or friend.
								</h3>
								<p>
									Don't stress... Just use Forgift!
								</p>
							</div>
							<div class="column">
								<h3>
									37% of people say that they recieve a 'thoughtless' gift.

								</h3>
								<p>
									At Forgift, we take everything into account to make sure the recipient feels loved!
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- <div>
			   <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="1500" height="600" frameborder="0" scrolling="no"></iframe>
			   </div> -->
				{% include "base/footer.html" %}
			</div>
		</div>
	</div>
{#</div>#}

	<style type="text/css">
		body.pushable {
			background: #545454 !important;
		}
	</style>
	<script>
		$(document)
			.ready(function () {
				// fix menu when passed
				$('.masthead')
					.visibility({
						context: $(".parallax-wrapper"),
						once: false,
						onBottomPassed: function () {
							$('.fixed.menu').transition('fade in');
						},
						onBottomPassedReverse: function () {
							$('.fixed.menu').transition('fade out');
						}
					})
				;
			});
	</script>
{% endblock %}

{% block footer %}
{% endblock %}
