{% extends "base/base.html" %}
{% block content %}
	<div class="ui main container" style="padding-bottom: 48px">
		{% if gift_ideas %}
			<h1 style="text-align: center; padding-bottom: 4px">Enter Gift Ideas
				for {{ giftee_profile.name }} by {{ giftee_profile.user.first_name }}'s request</h1>
			{% include "base/gift_ideas_form.html" with show_admin=True gift_request=giftee_profile %}
			<div style="padding-top: 16px"></div>
			<div class="ui container segment">
{#				{{ expert_assign }}#}
				{% include "base/form_template.html" with action_text="Assign" form=expert_assign %}
			</div>
			<div class="ui styled accordion fluid">
				<div class="active title">
					<i class="dropdown icon"></i>
					Scrape Interest Products
				</div>
				<div class="active content">
					{% if scraper_status == "FORM" %}
						{# Fill out the Form #}
						{% include "base/form_template.html" with action_text="Scrape" form=scrape_form %}
					{% elif scraper_status == "WAIT" %}
						{# Wait #}
						<div class="ui active centered text inline loader">
							Please wait while the scraper finds products
						</div>
					{% else %}
						{# Results #}
						<div>
							<div class="accordion">
								{% for interest in scraper_results %}
									<div class="title">
										<i class="dropdown icon"></i>
										{{ interest.interest|title }}
									</div>
									<div class="content">
										<div class="ui items">
											{% for product in interest.scrapeproduct_set.all %}
												<div class="item hover-load">
													<div class="ui small image">
														<div class="ui placeholder">
															<div class="square image"></div>
														</div>
														<img class="hover-load-image" data-src=
																"{{ product.image_url }}">
													</div>
													<div class="content">
														<div class="header">{{ product.title }}</div>
														<div class="meta">
															<span class="price">${{ product.price }}</span>
														</div>
														<div class="description">
															<p>
																{{ product.description }}
																<div class="ui divider"></div>
																Amazon URL: <a href="{{ product.url }}">
															{{ product.url }}</a><br>
																Image URL: <a href="{{ product.image_url }}">{{ product.image_url }}</a>
															</p>
														</div>
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endif %}
				</div>
			</div>
			{% if giftee_profile.ideas and giftee_profile.emailed_about_publish %}
				<div style="padding-top: 16px">
					<div class="ui container segment" style="width: 100%">
						<h3 class="ui header">Link Click Analytics</h3>
						<table class="ui celled table">
							<thead>
							<tr>
								<th>Idea</th>
								<th>Idea Link</th>
								<th>Clicks</th>
							</tr>
							</thead>
							<tbody>
							{% for idea in giftee_profile.ideas.all %}
								<tr>
									<td><a href="{{ idea.link }}">{{ idea.idea }}</a></td>
									<td>{{ idea.explanation }}</td>
									<td>{{ idea.clicks }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			{% endif %}
			{% if giftee_profile.feedback %}
				<div style="padding-top: 16px">
					<div class="ui container segment" style="width: 100%">
						<h3 class="ui header">Gift Ideas Feedback</h3>

						<div class="ui dividing sub header">Rating</div>
						<p>{{ giftee_profile.feedback.rating }}/5</p>
						<div class="ui dividing sub header">Feedback</div>
						<p>{{ giftee_profile.feedback.feedback }}</p>
						<div class="ui dividing sub header">Purchased</div>
						<p>{{ giftee_profile.feedback.bought|yesno:"Purchased,Not Purchased" }}</p>
					</div>
				</div>
			{% endif %}
			<div class="ui basic segment" style="width: 100%; padding-right: 0; padding-left: 0">
				{% include "base/giftee_profile.html" with no_close=True %}
				{% if giftee_profile.ip_address %}
					<div class="ui dividing sub header">IP Address</div>
					<p>{{ giftee_profile.ip_address }}</p>

					<div class="ui dividing sub header">Location</div>
					<p>{{ giftee_profile.location }}</p>
				{% endif %}
			</div>
			</div>
			</div>
			<div class="ui styled accordion" style="width: 100%;">
				<div class="active title">
					<i class="dropdown icon"></i>
					Giftee Profile Account Status
				</div>
				<div class="active content">
					<div class="ui dividing sub header">Linked to Account</div>
					<p>
						{% if giftee_profile.has_user %}
							Linked to account: {{ giftee_profile.user }}
						{% else %}
							Linked to email: {{ giftee_profile.email }}
						{% endif %}
					</p>
				</div>
			</div>

		{% else %}
			<h1 style="text-align: center; padding-bottom: 4px">Unfulfilled Gift Requests</h1>
			<div class="ui divider"></div>
			<div style="margin-left:auto;margin-right:auto;">
				<div {% if giftee_profiles_unpublished %}class="ui three stackable cards"{% endif %}>
					{% for giftee_profile in giftee_profiles_unpublished %}
						{% include "base/fulfill_card.html" with edit_text="Fulfill Ideas" %}
					{% empty %}
						<div class="ui disabled header" style="text-align: center; width: 100%; margin-top: 32px;">There
							are currently no unfulfilled gift requests.
						</div>
					{% endfor %}
				</div>
			</div>

			<h1 style="text-align: center; padding-bottom: 4px; padding-top: 32px">Fulfilled Gift Requests</h1>
			<div class="ui divider"></div>
			<div style="margin-left:auto;margin-right:auto;">
				<div class="ui three stackable cards">
					{% for giftee_profile in giftee_profile_published %}
						{% include "base/fulfill_card.html" with edit_text="Edit Ideas" %}
					{% empty %}
						<div class="ui disabled header" style="text-align: center; width: 100%; margin-top: 32px;">There
							are currently no fulfilled gift requests.
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}