{% extends "base/base.html" %}
<style type="text/css">
    body {
  margin: 0;
  overflow: hidden;
}
.wrapper {
  position: relative;
  min-height: 100vh;
}
[class|="confetti"] {
  position: absolute;
}
.confetti-0 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 6%;
  opacity: 434648357.5;
  transform: rotate(125696149920deg);
  animation: drop-0 1718798346s 1758624710s infinite;
}
@keyframes drop-0 {
  100% {
    top: 110%;
    left: 11%;
  }
}
.confetti-1 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 8%;
  opacity: 46900353.5;
  transform: rotate(265050878760deg);
  animation: drop-1 224627376s 939453009s infinite;
}
@keyframes drop-1 {
  100% {
    top: 110%;
    left: 14%;
  }
}
.confetti-2 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 82%;
  opacity: 444899748.5;
  transform: rotate(68571421560deg);
  animation: drop-2 40973466s 965921240s infinite;
}
@keyframes drop-2 {
  100% {
    top: 110%;
    left: 88%;
  }
}
.confetti-3 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 17%;
  opacity: 549664052.5;
  transform: rotate(240570735480deg);
  animation: drop-3 441776910s 1682254536s infinite;
}
@keyframes drop-3 {
  100% {
    top: 110%;
    left: 21%;
  }
}
.confetti-4 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 82%;
  opacity: 589871436.5;
  transform: rotate(303661248120deg);
  animation: drop-4 1665168835s 2012384570s infinite;
}
@keyframes drop-4 {
  100% {
    top: 110%;
    left: 88%;
  }
}
.confetti-5 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 3%;
  opacity: 1413394305.5;
  transform: rotate(255824608320deg);
  animation: drop-5 1701848688s 44545379s infinite;
}
@keyframes drop-5 {
  100% {
    top: 110%;
    left: 16%;
  }
}
.confetti-6 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 18%;
  opacity: 942124978.5;
  transform: rotate(318677686200deg);
  animation: drop-6 1982542912s 1764029834s infinite;
}
@keyframes drop-6 {
  100% {
    top: 110%;
    left: 23%;
  }
}
.confetti-7 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 58%;
  opacity: 1800131587.5;
  transform: rotate(744528758400deg);
  animation: drop-7 131846894s 457024746s infinite;
}
@keyframes drop-7 {
  100% {
    top: 110%;
    left: 68%;
  }
}
.confetti-8 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 88%;
  opacity: 1384536853.5;
  transform: rotate(326116614960deg);
  animation: drop-8 308225256s 225793482s infinite;
}
@keyframes drop-8 {
  100% {
    top: 110%;
    left: 95%;
  }
}
.confetti-9 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 15%;
  opacity: 1308869377.5;
  transform: rotate(760573755000deg);
  animation: drop-9 821328756s 1911904751s infinite;
}
@keyframes drop-9 {
  100% {
    top: 110%;
    left: 20%;
  }
}
.confetti-10 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 52%;
  opacity: 78355436.5;
  transform: rotate(291279463920deg);
  animation: drop-10 1551510238s 523337241s infinite;
}
@keyframes drop-10 {
  100% {
    top: 110%;
    left: 62%;
  }
}
.confetti-11 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 96%;
  opacity: 1363636066.5;
  transform: rotate(263536653240deg);
  animation: drop-11 1175813531s 1979963818s infinite;
}
@keyframes drop-11 {
  100% {
    top: 110%;
    left: 103%;
  }
}
.confetti-12 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 32%;
  opacity: 758006929.5;
  transform: rotate(458140554000deg);
  animation: drop-12 615320494s 1226238922s infinite;
}
@keyframes drop-12 {
  100% {
    top: 110%;
    left: 46%;
  }
}
.confetti-13 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 96%;
  opacity: 622313624.5;
  transform: rotate(865055160deg);
  animation: drop-13 2040309124s 2049469325s infinite;
}
@keyframes drop-13 {
  100% {
    top: 110%;
    left: 109%;
  }
}
.confetti-14 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 87%;
  opacity: 1811888742.5;
  transform: rotate(725791718520deg);
  animation: drop-14 884120541s 1864877409s infinite;
}
@keyframes drop-14 {
  100% {
    top: 110%;
    left: 100%;
  }
}
.confetti-15 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 59%;
  opacity: 1150910264.5;
  transform: rotate(622939611960deg);
  animation: drop-15 1741806538s 1503021518s infinite;
}
@keyframes drop-15 {
  100% {
    top: 110%;
    left: 64%;
  }
}
.confetti-16 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 31%;
  opacity: 1157415033.5;
  transform: rotate(112137024960deg);
  animation: drop-16 8782266s 1663247361s infinite;
}
@keyframes drop-16 {
  100% {
    top: 110%;
    left: 40%;
  }
}
.confetti-17 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 30%;
  opacity: 619962994.5;
  transform: rotate(704163051360deg);
  animation: drop-17 1759470961s 479611729s infinite;
}
@keyframes drop-17 {
  100% {
    top: 110%;
    left: 34%;
  }
}
.confetti-18 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 50%;
  opacity: 559192674.5;
  transform: rotate(102509399160deg);
  animation: drop-18 1486397460s 1628584717s infinite;
}
@keyframes drop-18 {
  100% {
    top: 110%;
    left: 52%;
  }
}
.confetti-19 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 6%;
  opacity: 398645760.5;
  transform: rotate(702410020200deg);
  animation: drop-19 718311101s 148455765s infinite;
}
@keyframes drop-19 {
  100% {
    top: 110%;
    left: 12%;
  }
}
.confetti-20 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 42%;
  opacity: 1007539853.5;
  transform: rotate(469878599520deg);
  animation: drop-20 1013892945s 784947069s infinite;
}
@keyframes drop-20 {
  100% {
    top: 110%;
    left: 57%;
  }
}
.confetti-21 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 54%;
  opacity: 1751534230.5;
  transform: rotate(355678836120deg);
  animation: drop-21 1556723596s 28970584s infinite;
}
@keyframes drop-21 {
  100% {
    top: 110%;
    left: 64%;
  }
}
.confetti-22 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 64%;
  opacity: 1519669300.5;
  transform: rotate(416039354640deg);
  animation: drop-22 1950339163s 643103452s infinite;
}
@keyframes drop-22 {
  100% {
    top: 110%;
    left: 69%;
  }
}
.confetti-23 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 42%;
  opacity: 304502960.5;
  transform: rotate(603194725440deg);
  animation: drop-23 479577058s 489473315s infinite;
}
@keyframes drop-23 {
  100% {
    top: 110%;
    left: 47%;
  }
}
.confetti-24 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 30%;
  opacity: 1346377126.5;
  transform: rotate(374238164520deg);
  animation: drop-24 696360118s 1391863330s infinite;
}
@keyframes drop-24 {
  100% {
    top: 110%;
    left: 39%;
  }
}
.confetti-25 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 51%;
  opacity: 1108997907.5;
  transform: rotate(756618979320deg);
  animation: drop-25 1085433494s 1176635642s infinite;
}
@keyframes drop-25 {
  100% {
    top: 110%;
    left: 63%;
  }
}
.confetti-26 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 98%;
  opacity: 174977471.5;
  transform: rotate(709240882320deg);
  animation: drop-26 1400952345s 117922987s infinite;
}
@keyframes drop-26 {
  100% {
    top: 110%;
    left: 101%;
  }
}
.confetti-27 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 56%;
  opacity: 116907639.5;
  transform: rotate(449616035520deg);
  animation: drop-27 1960500530s 598352905s infinite;
}
@keyframes drop-27 {
  100% {
    top: 110%;
    left: 61%;
  }
}
.confetti-28 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 62%;
  opacity: 1845122623.5;
  transform: rotate(318510244080deg);
  animation: drop-28 2037000331s 331405225s infinite;
}
@keyframes drop-28 {
  100% {
    top: 110%;
    left: 67%;
  }
}
.confetti-29 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 66%;
  opacity: 1287610396.5;
  transform: rotate(117815229000deg);
  animation: drop-29 103529953s 748718258s infinite;
}
@keyframes drop-29 {
  100% {
    top: 110%;
    left: 74%;
  }
}
.confetti-30 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 93%;
  opacity: 1028493784.5;
  transform: rotate(678860045640deg);
  animation: drop-30 238972597s 1324829186s infinite;
}
@keyframes drop-30 {
  100% {
    top: 110%;
    left: 104%;
  }
}
.confetti-31 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 78%;
  opacity: 186165069.5;
  transform: rotate(340459601400deg);
  animation: drop-31 1837628128s 2044951763s infinite;
}
@keyframes drop-31 {
  100% {
    top: 110%;
    left: 84%;
  }
}
.confetti-32 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 3%;
  opacity: 42985207.5;
  transform: rotate(50290279200deg);
  animation: drop-32 1821093824s 65394458s infinite;
}
@keyframes drop-32 {
  100% {
    top: 110%;
    left: 13%;
  }
}
.confetti-33 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 65%;
  opacity: 583829613.5;
  transform: rotate(402298050960deg);
  animation: drop-33 46811572s 888508808s infinite;
}
@keyframes drop-33 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.confetti-34 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 1%;
  opacity: 481468941.5;
  transform: rotate(152480285640deg);
  animation: drop-34 975609116s 1566885613s infinite;
}
@keyframes drop-34 {
  100% {
    top: 110%;
    left: 12%;
  }
}
.confetti-35 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 91%;
  opacity: 2020772289.5;
  transform: rotate(395066890800deg);
  animation: drop-35 1266325069s 838369302s infinite;
}
@keyframes drop-35 {
  100% {
    top: 110%;
    left: 94%;
  }
}
.confetti-36 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 18%;
  opacity: 1322647143.5;
  transform: rotate(685507433040deg);
  animation: drop-36 1853121809s 247679081s infinite;
}
@keyframes drop-36 {
  100% {
    top: 110%;
    left: 25%;
  }
}
.confetti-37 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 33%;
  opacity: 744276729.5;
  transform: rotate(107693573400deg);
  animation: drop-37 1403103436s 945841803s infinite;
}
@keyframes drop-37 {
  100% {
    top: 110%;
    left: 44%;
  }
}
.confetti-38 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 28%;
  opacity: 403013475.5;
  transform: rotate(419353759800deg);
  animation: drop-38 2041575739s 1856237446s infinite;
}
@keyframes drop-38 {
  100% {
    top: 110%;
    left: 30%;
  }
}
.confetti-39 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 84%;
  opacity: 360075082.5;
  transform: rotate(512823898440deg);
  animation: drop-39 637079469s 460769726s infinite;
}
@keyframes drop-39 {
  100% {
    top: 110%;
    left: 94%;
  }
}
.confetti-40 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 39%;
  opacity: 227914280.5;
  transform: rotate(505497931920deg);
  animation: drop-40 1269953469s 886087981s infinite;
}
@keyframes drop-40 {
  100% {
    top: 110%;
    left: 44%;
  }
}
.confetti-41 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 46%;
  opacity: 1675674585.5;
  transform: rotate(490980548160deg);
  animation: drop-41 184341749s 1437107559s infinite;
}
@keyframes drop-41 {
  100% {
    top: 110%;
    left: 55%;
  }
}
.confetti-42 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 42%;
  opacity: 873495491.5;
  transform: rotate(460643361120deg);
  animation: drop-42 5942316s 1474218939s infinite;
}
@keyframes drop-42 {
  100% {
    top: 110%;
    left: 44%;
  }
}
.confetti-43 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 74%;
  opacity: 369738290.5;
  transform: rotate(422767384920deg);
  animation: drop-43 1924188457s 1956920774s infinite;
}
@keyframes drop-43 {
  100% {
    top: 110%;
    left: 75%;
  }
}
.confetti-44 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 18%;
  opacity: 256428886.5;
  transform: rotate(200056092120deg);
  animation: drop-44 904671922s 664156435s infinite;
}
@keyframes drop-44 {
  100% {
    top: 110%;
    left: 30%;
  }
}
.confetti-45 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 82%;
  opacity: 1178365235.5;
  transform: rotate(74798988120deg);
  animation: drop-45 1505957253s 2121748905s infinite;
}
@keyframes drop-45 {
  100% {
    top: 110%;
    left: 85%;
  }
}
.confetti-46 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 95%;
  opacity: 1382803697.5;
  transform: rotate(608790980880deg);
  animation: drop-46 1783129712s 375209367s infinite;
}
@keyframes drop-46 {
  100% {
    top: 110%;
    left: 100%;
  }
}
.confetti-47 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 48%;
  opacity: 2130219799.5;
  transform: rotate(48965281920deg);
  animation: drop-47 416605405s 1288584533s infinite;
}
@keyframes drop-47 {
  100% {
    top: 110%;
    left: 62%;
  }
}
.confetti-48 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 34%;
  opacity: 290899509.5;
  transform: rotate(690542433720deg);
  animation: drop-48 1968152409s 1831145657s infinite;
}
@keyframes drop-48 {
  100% {
    top: 110%;
    left: 38%;
  }
}
.confetti-49 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 69%;
  opacity: 672259320.5;
  transform: rotate(551036168640deg);
  animation: drop-49 395459154s 1895645646s infinite;
}
@keyframes drop-49 {
  100% {
    top: 110%;
    left: 76%;
  }
}
.confetti-50 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 3%;
  opacity: 487174962.5;
  transform: rotate(622349897040deg);
  animation: drop-50 1145557206s 1747596075s infinite;
}
@keyframes drop-50 {
  100% {
    top: 110%;
    left: 9%;
  }
}
.confetti-51 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 15%;
  opacity: 451350373.5;
  transform: rotate(768726313560deg);
  animation: drop-51 1709743207s 400444121s infinite;
}
@keyframes drop-51 {
  100% {
    top: 110%;
    left: 28%;
  }
}
.confetti-52 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 81%;
  opacity: 1968013511.5;
  transform: rotate(603107461800deg);
  animation: drop-52 1311118578s 1372656663s infinite;
}
@keyframes drop-52 {
  100% {
    top: 110%;
    left: 92%;
  }
}
.confetti-53 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 51%;
  opacity: 2144670390.5;
  transform: rotate(121888494000deg);
  animation: drop-53 1573155667s 1142737188s infinite;
}
@keyframes drop-53 {
  100% {
    top: 110%;
    left: 57%;
  }
}
.confetti-54 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 89%;
  opacity: 853721548.5;
  transform: rotate(229428755640deg);
  animation: drop-54 1344654036s 2057684230s infinite;
}
@keyframes drop-54 {
  100% {
    top: 110%;
    left: 92%;
  }
}
.confetti-55 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 73%;
  opacity: 556017495.5;
  transform: rotate(449849577600deg);
  animation: drop-55 1403197992s 1765242879s infinite;
}
@keyframes drop-55 {
  100% {
    top: 110%;
    left: 86%;
  }
}
.confetti-56 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 2%;
  opacity: 948232545.5;
  transform: rotate(185900177520deg);
  animation: drop-56 636765736s 568615390s infinite;
}
@keyframes drop-56 {
  100% {
    top: 110%;
    left: 5%;
  }
}
.confetti-57 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 94%;
  opacity: 1789368340.5;
  transform: rotate(88617796560deg);
  animation: drop-57 1819923112s 1973911022s infinite;
}
@keyframes drop-57 {
  100% {
    top: 110%;
    left: 103%;
  }
}
.confetti-58 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 36%;
  opacity: 1860908815.5;
  transform: rotate(71307602640deg);
  animation: drop-58 327642148s 1937926138s infinite;
}
@keyframes drop-58 {
  100% {
    top: 110%;
    left: 51%;
  }
}
.confetti-59 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 23%;
  opacity: 1771896212.5;
  transform: rotate(756997614360deg);
  animation: drop-59 720689129s 609893259s infinite;
}
@keyframes drop-59 {
  100% {
    top: 110%;
    left: 27%;
  }
}
.confetti-60 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 18%;
  opacity: 1939158773.5;
  transform: rotate(6398694000deg);
  animation: drop-60 785293748s 1109155330s infinite;
}
@keyframes drop-60 {
  100% {
    top: 110%;
    left: 24%;
  }
}
.confetti-61 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 79%;
  opacity: 1963656684.5;
  transform: rotate(486286787520deg);
  animation: drop-61 1724660421s 1242969856s infinite;
}
@keyframes drop-61 {
  100% {
    top: 110%;
    left: 89%;
  }
}
.confetti-62 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 35%;
  opacity: 1902259616.5;
  transform: rotate(524583553320deg);
  animation: drop-62 523313055s 979380424s infinite;
}
@keyframes drop-62 {
  100% {
    top: 110%;
    left: 50%;
  }
}
.confetti-63 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 16%;
  opacity: 1259048703.5;
  transform: rotate(300700707480deg);
  animation: drop-63 62538529s 689424015s infinite;
}
@keyframes drop-63 {
  100% {
    top: 110%;
    left: 29%;
  }
}
.confetti-64 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 63%;
  opacity: 47734537.5;
  transform: rotate(518326929720deg);
  animation: drop-64 1095914996s 299827162s infinite;
}
@keyframes drop-64 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.confetti-65 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 18%;
  opacity: 31323305.5;
  transform: rotate(260122384440deg);
  animation: drop-65 1171993422s 1070135163s infinite;
}
@keyframes drop-65 {
  100% {
    top: 110%;
    left: 31%;
  }
}
.confetti-66 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 2%;
  opacity: 1637858754.5;
  transform: rotate(236843385120deg);
  animation: drop-66 770767894s 1263208470s infinite;
}
@keyframes drop-66 {
  100% {
    top: 110%;
    left: 7%;
  }
}
.confetti-67 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 63%;
  opacity: 554211384.5;
  transform: rotate(456240080160deg);
  animation: drop-67 198619403s 1066208438s infinite;
}
@keyframes drop-67 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.confetti-68 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 8%;
  opacity: 476678248.5;
  transform: rotate(4696938000deg);
  animation: drop-68 715170138s 1960803122s infinite;
}
@keyframes drop-68 {
  100% {
    top: 110%;
    left: 16%;
  }
}
.confetti-69 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 82%;
  opacity: 1661407262.5;
  transform: rotate(54878550840deg);
  animation: drop-69 1499824321s 1595508329s infinite;
}
@keyframes drop-69 {
  100% {
    top: 110%;
    left: 87%;
  }
}
.confetti-70 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 70%;
  opacity: 541291847.5;
  transform: rotate(767530658880deg);
  animation: drop-70 1652985795s 1451789151s infinite;
}
@keyframes drop-70 {
  100% {
    top: 110%;
    left: 76%;
  }
}
.confetti-71 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 5%;
  opacity: 1579047019.5;
  transform: rotate(416593004760deg);
  animation: drop-71 41769983s 1875514716s infinite;
}
@keyframes drop-71 {
  100% {
    top: 110%;
    left: 19%;
  }
}
.confetti-72 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 95%;
  opacity: 1294034071.5;
  transform: rotate(15252527880deg);
  animation: drop-72 304175214s 408435563s infinite;
}
@keyframes drop-72 {
  100% {
    top: 110%;
    left: 105%;
  }
}
.confetti-73 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 1%;
  opacity: 619558225.5;
  transform: rotate(660183400440deg);
  animation: drop-73 166700002s 1774758705s infinite;
}
@keyframes drop-73 {
  100% {
    top: 110%;
    left: 4%;
  }
}
.confetti-74 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 46%;
  opacity: 1094543866.5;
  transform: rotate(377307912960deg);
  animation: drop-74 1783871185s 809939670s infinite;
}
@keyframes drop-74 {
  100% {
    top: 110%;
    left: 56%;
  }
}
.confetti-75 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 32%;
  opacity: 1361168467.5;
  transform: rotate(327149670960deg);
  animation: drop-75 336850367s 351880837s infinite;
}
@keyframes drop-75 {
  100% {
    top: 110%;
    left: 43%;
  }
}
.confetti-76 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 96%;
  opacity: 136881810.5;
  transform: rotate(771722376840deg);
  animation: drop-76 836232609s 281951431s infinite;
}
@keyframes drop-76 {
  100% {
    top: 110%;
    left: 100%;
  }
}
.confetti-77 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 89%;
  opacity: 1744885565.5;
  transform: rotate(721101481560deg);
  animation: drop-77 1776271653s 1226553208s infinite;
}
@keyframes drop-77 {
  100% {
    top: 110%;
    left: 98%;
  }
}
.confetti-78 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 91%;
  opacity: 1179533085.5;
  transform: rotate(464393819520deg);
  animation: drop-78 719239798s 70852864s infinite;
}
@keyframes drop-78 {
  100% {
    top: 110%;
    left: 95%;
  }
}
.confetti-79 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 33%;
  opacity: 1817028905.5;
  transform: rotate(15522398640deg);
  animation: drop-79 930774162s 1944419399s infinite;
}
@keyframes drop-79 {
  100% {
    top: 110%;
    left: 35%;
  }
}
.confetti-80 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 82%;
  opacity: 268598321.5;
  transform: rotate(397936342440deg);
  animation: drop-80 1776155300s 1505961644s infinite;
}
@keyframes drop-80 {
  100% {
    top: 110%;
    left: 84%;
  }
}
.confetti-81 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 36%;
  opacity: 2133480417.5;
  transform: rotate(116390748240deg);
  animation: drop-81 1587241187s 1257440524s infinite;
}
@keyframes drop-81 {
  100% {
    top: 110%;
    left: 43%;
  }
}
.confetti-82 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 50%;
  opacity: 125476186.5;
  transform: rotate(414621890640deg);
  animation: drop-82 1673279662s 617859055s infinite;
}
@keyframes drop-82 {
  100% {
    top: 110%;
    left: 62%;
  }
}
.confetti-83 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 22%;
  opacity: 141271353.5;
  transform: rotate(465235016760deg);
  animation: drop-83 281543687s 120142558s infinite;
}
@keyframes drop-83 {
  100% {
    top: 110%;
    left: 37%;
  }
}
.confetti-84 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 89%;
  opacity: 478908075.5;
  transform: rotate(696900385800deg);
  animation: drop-84 1549012719s 1056895199s infinite;
}
@keyframes drop-84 {
  100% {
    top: 110%;
    left: 96%;
  }
}
.confetti-85 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 20%;
  opacity: 1402544690.5;
  transform: rotate(112489469640deg);
  animation: drop-85 1471759262s 1277350456s infinite;
}
@keyframes drop-85 {
  100% {
    top: 110%;
    left: 23%;
  }
}
.confetti-86 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 8%;
  opacity: 248330179.5;
  transform: rotate(557302235760deg);
  animation: drop-86 1034795806s 2027660401s infinite;
}
@keyframes drop-86 {
  100% {
    top: 110%;
    left: 18%;
  }
}
.confetti-87 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 44%;
  opacity: 2103329138.5;
  transform: rotate(644951558520deg);
  animation: drop-87 778816872s 1008571192s infinite;
}
@keyframes drop-87 {
  100% {
    top: 110%;
    left: 52%;
  }
}
.confetti-88 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 5%;
  opacity: 2055865999.5;
  transform: rotate(742564587960deg);
  animation: drop-88 1341747702s 929109491s infinite;
}
@keyframes drop-88 {
  100% {
    top: 110%;
    left: 6%;
  }
}
.confetti-89 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 61%;
  opacity: 798312094.5;
  transform: rotate(464975787600deg);
  animation: drop-89 1093582568s 789874721s infinite;
}
@keyframes drop-89 {
  100% {
    top: 110%;
    left: 76%;
  }
}
.confetti-90 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 99%;
  opacity: 865052099.5;
  transform: rotate(197374454640deg);
  animation: drop-90 1484951303s 1562270832s infinite;
}
@keyframes drop-90 {
  100% {
    top: 110%;
    left: 107%;
  }
}
.confetti-91 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 71%;
  opacity: 2135315279.5;
  transform: rotate(736856220960deg);
  animation: drop-91 146016141s 175330483s infinite;
}
@keyframes drop-91 {
  100% {
    top: 110%;
    left: 86%;
  }
}
.confetti-92 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 57%;
  opacity: 583129234.5;
  transform: rotate(538901071920deg);
  animation: drop-92 250870630s 1115726117s infinite;
}
@keyframes drop-92 {
  100% {
    top: 110%;
    left: 58%;
  }
}
.confetti-93 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 27%;
  opacity: 1561916359.5;
  transform: rotate(196946188560deg);
  animation: drop-93 1152645317s 1257981661s infinite;
}
@keyframes drop-93 {
  100% {
    top: 110%;
    left: 28%;
  }
}
.confetti-94 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 32%;
  opacity: 1699013895.5;
  transform: rotate(495338329800deg);
  animation: drop-94 496872174s 1883473652s infinite;
}
@keyframes drop-94 {
  100% {
    top: 110%;
    left: 41%;
  }
}
.confetti-95 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 64%;
  opacity: 277959428.5;
  transform: rotate(208058979240deg);
  animation: drop-95 1300374431s 1089809019s infinite;
}
@keyframes drop-95 {
  100% {
    top: 110%;
    left: 73%;
  }
}
.confetti-96 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 20%;
  opacity: 1432389553.5;
  transform: rotate(496383926760deg);
  animation: drop-96 1066546904s 657714787s infinite;
}
@keyframes drop-96 {
  100% {
    top: 110%;
    left: 25%;
  }
}
.confetti-97 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 79%;
  opacity: 18086059.5;
  transform: rotate(9943979400deg);
  animation: drop-97 1077598342s 495995572s infinite;
}
@keyframes drop-97 {
  100% {
    top: 110%;
    left: 86%;
  }
}
.confetti-98 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 25%;
  opacity: 1227507851.5;
  transform: rotate(732454767720deg);
  animation: drop-98 1849862012s 53565067s infinite;
}
@keyframes drop-98 {
  100% {
    top: 110%;
    left: 31%;
  }
}
.confetti-99 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 4%;
  opacity: 585791544.5;
  transform: rotate(439615569240deg);
  animation: drop-99 981357704s 1419401987s infinite;
}
@keyframes drop-99 {
  100% {
    top: 110%;
    left: 17%;
  }
}
.confetti-100 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 7%;
  opacity: 1767770325.5;
  transform: rotate(564249711600deg);
  animation: drop-100 1396805708s 1282202419s infinite;
}
@keyframes drop-100 {
  100% {
    top: 110%;
    left: 17%;
  }
}
.confetti-101 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 37%;
  opacity: 1439582418.5;
  transform: rotate(111849941520deg);
  animation: drop-101 1867801125s 922343883s infinite;
}
@keyframes drop-101 {
  100% {
    top: 110%;
    left: 41%;
  }
}
.confetti-102 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 97%;
  opacity: 256864682.5;
  transform: rotate(462364563240deg);
  animation: drop-102 585297823s 1998445077s infinite;
}
@keyframes drop-102 {
  100% {
    top: 110%;
    left: 112%;
  }
}
.confetti-103 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 82%;
  opacity: 924348675.5;
  transform: rotate(341370001440deg);
  animation: drop-103 1526618622s 1008920961s infinite;
}
@keyframes drop-103 {
  100% {
    top: 110%;
    left: 85%;
  }
}
.confetti-104 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 34%;
  opacity: 1275417143.5;
  transform: rotate(475100911800deg);
  animation: drop-104 1054046867s 656418974s infinite;
}
@keyframes drop-104 {
  100% {
    top: 110%;
    left: 40%;
  }
}
.confetti-105 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 46%;
  opacity: 368116582.5;
  transform: rotate(454659451200deg);
  animation: drop-105 91135238s 2006244188s infinite;
}
@keyframes drop-105 {
  100% {
    top: 110%;
    left: 61%;
  }
}
.confetti-106 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 85%;
  opacity: 1704682022.5;
  transform: rotate(247869705600deg);
  animation: drop-106 218773135s 724549304s infinite;
}
@keyframes drop-106 {
  100% {
    top: 110%;
    left: 97%;
  }
}
.confetti-107 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 75%;
  opacity: 1685168219.5;
  transform: rotate(734685361920deg);
  animation: drop-107 1333450485s 1013096693s infinite;
}
@keyframes drop-107 {
  100% {
    top: 110%;
    left: 76%;
  }
}
.confetti-108 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 32%;
  opacity: 803591565.5;
  transform: rotate(704239863480deg);
  animation: drop-108 346640060s 171454753s infinite;
}
@keyframes drop-108 {
  100% {
    top: 110%;
    left: 41%;
  }
}
.confetti-109 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 45%;
  opacity: 125261936.5;
  transform: rotate(37565456760deg);
  animation: drop-109 559679732s 1140468441s infinite;
}
@keyframes drop-109 {
  100% {
    top: 110%;
    left: 46%;
  }
}
.confetti-110 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 95%;
  opacity: 738864377.5;
  transform: rotate(641346001200deg);
  animation: drop-110 422386101s 1476021603s infinite;
}
@keyframes drop-110 {
  100% {
    top: 110%;
    left: 106%;
  }
}
.confetti-111 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 90%;
  opacity: 1124495183.5;
  transform: rotate(754554632760deg);
  animation: drop-111 931858381s 225409345s infinite;
}
@keyframes drop-111 {
  100% {
    top: 110%;
    left: 104%;
  }
}
.confetti-112 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 36%;
  opacity: 1906789637.5;
  transform: rotate(115085985120deg);
  animation: drop-112 973700482s 425782427s infinite;
}
@keyframes drop-112 {
  100% {
    top: 110%;
    left: 45%;
  }
}
.confetti-113 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 21%;
  opacity: 1053694178.5;
  transform: rotate(224834446440deg);
  animation: drop-113 61876668s 2106574199s infinite;
}
@keyframes drop-113 {
  100% {
    top: 110%;
    left: 29%;
  }
}
.confetti-114 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 83%;
  opacity: 453599019.5;
  transform: rotate(316142436960deg);
  animation: drop-114 722768418s 1664880328s infinite;
}
@keyframes drop-114 {
  100% {
    top: 110%;
    left: 89%;
  }
}
.confetti-115 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 26%;
  opacity: 1350122279.5;
  transform: rotate(369297912600deg);
  animation: drop-115 1155119805s 277927311s infinite;
}
@keyframes drop-115 {
  100% {
    top: 110%;
    left: 28%;
  }
}
.confetti-116 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 89%;
  opacity: 1617786315.5;
  transform: rotate(93971535480deg);
  animation: drop-116 1668498026s 1579785993s infinite;
}
@keyframes drop-116 {
  100% {
    top: 110%;
    left: 99%;
  }
}
.confetti-117 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 69%;
  opacity: 1112116433.5;
  transform: rotate(109802435040deg);
  animation: drop-117 1703385001s 650228656s infinite;
}
@keyframes drop-117 {
  100% {
    top: 110%;
    left: 70%;
  }
}
.confetti-118 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 26%;
  opacity: 1901803692.5;
  transform: rotate(491086792080deg);
  animation: drop-118 1540307585s 1801006919s infinite;
}
@keyframes drop-118 {
  100% {
    top: 110%;
    left: 27%;
  }
}
.confetti-119 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 36%;
  opacity: 1620903683.5;
  transform: rotate(534824202240deg);
  animation: drop-119 1832413496s 1871089749s infinite;
}
@keyframes drop-119 {
  100% {
    top: 110%;
    left: 44%;
  }
}
.confetti-120 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 29%;
  opacity: 1021974240.5;
  transform: rotate(33834018600deg);
  animation: drop-120 853740430s 1597097488s infinite;
}
@keyframes drop-120 {
  100% {
    top: 110%;
    left: 37%;
  }
}
.confetti-121 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 75%;
  opacity: 2088357788.5;
  transform: rotate(239990691960deg);
  animation: drop-121 432178656s 332967879s infinite;
}
@keyframes drop-121 {
  100% {
    top: 110%;
    left: 87%;
  }
}
.confetti-122 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 94%;
  opacity: 1592533592.5;
  transform: rotate(205563120840deg);
  animation: drop-122 1427392460s 720265090s infinite;
}
@keyframes drop-122 {
  100% {
    top: 110%;
    left: 98%;
  }
}
.confetti-123 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 92%;
  opacity: 1430879047.5;
  transform: rotate(13626952920deg);
  animation: drop-123 1814206826s 2074682948s infinite;
}
@keyframes drop-123 {
  100% {
    top: 110%;
    left: 98%;
  }
}
.confetti-124 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 15%;
  opacity: 109286031.5;
  transform: rotate(755812293840deg);
  animation: drop-124 1358235460s 1363729121s infinite;
}
@keyframes drop-124 {
  100% {
    top: 110%;
    left: 21%;
  }
}
.confetti-125 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 24%;
  opacity: 1073788370.5;
  transform: rotate(376655931000deg);
  animation: drop-125 1385519221s 895581792s infinite;
}
@keyframes drop-125 {
  100% {
    top: 110%;
    left: 27%;
  }
}
.confetti-126 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 95%;
  opacity: 490899726.5;
  transform: rotate(40989566520deg);
  animation: drop-126 1087003283s 227514507s infinite;
}
@keyframes drop-126 {
  100% {
    top: 110%;
    left: 96%;
  }
}
.confetti-127 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 34%;
  opacity: 790502765.5;
  transform: rotate(722619826200deg);
  animation: drop-127 747203416s 1394521014s infinite;
}
@keyframes drop-127 {
  100% {
    top: 110%;
    left: 40%;
  }
}
.confetti-128 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 40%;
  opacity: 175759300.5;
  transform: rotate(171979700040deg);
  animation: drop-128 1046855257s 1656859993s infinite;
}
@keyframes drop-128 {
  100% {
    top: 110%;
    left: 48%;
  }
}
.confetti-129 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 71%;
  opacity: 277914790.5;
  transform: rotate(243577317240deg);
  animation: drop-129 518609904s 1817921888s infinite;
}
@keyframes drop-129 {
  100% {
    top: 110%;
    left: 78%;
  }
}
.confetti-130 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 78%;
  opacity: 843411312.5;
  transform: rotate(747120624840deg);
  animation: drop-130 1428325988s 956269230s infinite;
}
@keyframes drop-130 {
  100% {
    top: 110%;
    left: 92%;
  }
}
.confetti-131 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 67%;
  opacity: 1545357018.5;
  transform: rotate(443135283120deg);
  animation: drop-131 1973270530s 1262742725s infinite;
}
@keyframes drop-131 {
  100% {
    top: 110%;
    left: 82%;
  }
}
.confetti-132 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 56%;
  opacity: 1237032412.5;
  transform: rotate(325474473960deg);
  animation: drop-132 1124219867s 1596212818s infinite;
}
@keyframes drop-132 {
  100% {
    top: 110%;
    left: 71%;
  }
}
.confetti-133 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 61%;
  opacity: 1966121037.5;
  transform: rotate(406119322080deg);
  animation: drop-133 752309798s 2129217913s infinite;
}
@keyframes drop-133 {
  100% {
    top: 110%;
    left: 70%;
  }
}
.confetti-134 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 71%;
  opacity: 409550681.5;
  transform: rotate(747673862400deg);
  animation: drop-134 1621517097s 1858843126s infinite;
}
@keyframes drop-134 {
  100% {
    top: 110%;
    left: 77%;
  }
}
.confetti-135 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 15%;
  opacity: 170102359.5;
  transform: rotate(703130520240deg);
  animation: drop-135 1829510360s 1950293630s infinite;
}
@keyframes drop-135 {
  100% {
    top: 110%;
    left: 25%;
  }
}
.confetti-136 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 44%;
  opacity: 1305638918.5;
  transform: rotate(475623941400deg);
  animation: drop-136 689845289s 698931081s infinite;
}
@keyframes drop-136 {
  100% {
    top: 110%;
    left: 58%;
  }
}
.confetti-137 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 42%;
  opacity: 93516547.5;
  transform: rotate(714874194360deg);
  animation: drop-137 2033703212s 839913s infinite;
}
@keyframes drop-137 {
  100% {
    top: 110%;
    left: 49%;
  }
}
.confetti-138 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 87%;
  opacity: 799956153.5;
  transform: rotate(626563272600deg);
  animation: drop-138 1005269781s 1151941767s infinite;
}
@keyframes drop-138 {
  100% {
    top: 110%;
    left: 90%;
  }
}
.confetti-139 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 82%;
  opacity: 610591205.5;
  transform: rotate(413704378800deg);
  animation: drop-139 161807365s 936348076s infinite;
}
@keyframes drop-139 {
  100% {
    top: 110%;
    left: 95%;
  }
}
.confetti-140 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 61%;
  opacity: 407279442.5;
  transform: rotate(167128965360deg);
  animation: drop-140 27687409s 496644133s infinite;
}
@keyframes drop-140 {
  100% {
    top: 110%;
    left: 71%;
  }
}
.confetti-141 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 39%;
  opacity: 1426017890.5;
  transform: rotate(675449353800deg);
  animation: drop-141 860110859s 673733249s infinite;
}
@keyframes drop-141 {
  100% {
    top: 110%;
    left: 52%;
  }
}
.confetti-142 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 95%;
  opacity: 2076144638.5;
  transform: rotate(188574996240deg);
  animation: drop-142 340769308s 523119418s infinite;
}
@keyframes drop-142 {
  100% {
    top: 110%;
    left: 102%;
  }
}
.confetti-143 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 43%;
  opacity: 1240296882.5;
  transform: rotate(669216712320deg);
  animation: drop-143 2044859169s 103451183s infinite;
}
@keyframes drop-143 {
  100% {
    top: 110%;
    left: 58%;
  }
}
.confetti-144 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 42%;
  opacity: 1583724281.5;
  transform: rotate(502004519280deg);
  animation: drop-144 391836788s 1278916531s infinite;
}
@keyframes drop-144 {
  100% {
    top: 110%;
    left: 50%;
  }
}
.confetti-145 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 64%;
  opacity: 1572750253.5;
  transform: rotate(574322491080deg);
  animation: drop-145 1269542669s 2002361462s infinite;
}
@keyframes drop-145 {
  100% {
    top: 110%;
    left: 65%;
  }
}
.confetti-146 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 39%;
  opacity: 1945175626.5;
  transform: rotate(708698448360deg);
  animation: drop-146 890712718s 1504949933s infinite;
}
@keyframes drop-146 {
  100% {
    top: 110%;
    left: 54%;
  }
}
.confetti-147 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 66%;
  opacity: 114270986.5;
  transform: rotate(92373341760deg);
  animation: drop-147 1500939942s 980869000s infinite;
}
@keyframes drop-147 {
  100% {
    top: 110%;
    left: 73%;
  }
}
.confetti-148 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 74%;
  opacity: 551769915.5;
  transform: rotate(100702347120deg);
  animation: drop-148 2031870564s 243512350s infinite;
}
@keyframes drop-148 {
  100% {
    top: 110%;
    left: 88%;
  }
}
.confetti-149 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 91%;
  opacity: 1611694376.5;
  transform: rotate(571802390640deg);
  animation: drop-149 548944883s 426503542s infinite;
}
@keyframes drop-149 {
  100% {
    top: 110%;
    left: 96%;
  }
}
.confetti-150 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 46%;
  opacity: 59426528.5;
  transform: rotate(304428749040deg);
  animation: drop-150 2075168164s 646129689s infinite;
}
@keyframes drop-150 {
  100% {
    top: 110%;
    left: 52%;
  }
}


</style>


{% block content %}
	<div class="ui main container"><div class="wrapper">
    <div class="confetti-149"></div>
    <div class="confetti-148"></div>
    <div class="confetti-147"></div>
    <div class="confetti-146"></div>
    <div class="confetti-145"></div>
    <div class="confetti-144"></div>
    <div class="confetti-143"></div>
    <div class="confetti-142"></div>
    <div class="confetti-141"></div>
    <div class="confetti-140"></div>
    <div class="confetti-139"></div>
    <div class="confetti-138"></div>
    <div class="confetti-137"></div>
    <div class="confetti-136"></div>
    <div class="confetti-135"></div>
    <div class="confetti-134"></div>
    <div class="confetti-133"></div>
    <div class="confetti-132"></div>
    <div class="confetti-131"></div>
    <div class="confetti-130"></div>
    <div class="confetti-129"></div>
    <div class="confetti-128"></div>
    <div class="confetti-127"></div>
    <div class="confetti-126"></div>
    <div class="confetti-125"></div>
    <div class="confetti-124"></div>
    <div class="confetti-123"></div>
    <div class="confetti-122"></div>
    <div class="confetti-121"></div>
    <div class="confetti-120"></div>
    <div class="confetti-119"></div>
    <div class="confetti-118"></div>
    <div class="confetti-117"></div>
    <div class="confetti-116"></div>
    <div class="confetti-115"></div>
    <div class="confetti-114"></div>
    <div class="confetti-113"></div>
    <div class="confetti-112"></div>
    <div class="confetti-111"></div>
    <div class="confetti-110"></div>
    <div class="confetti-109"></div>
    <div class="confetti-108"></div>
    <div class="confetti-107"></div>
    <div class="confetti-106"></div>
    <div class="confetti-105"></div>
    <div class="confetti-104"></div>
    <div class="confetti-103"></div>
    <div class="confetti-102"></div>
    <div class="confetti-101"></div>
    <div class="confetti-100"></div>
    <div class="confetti-99"></div>
    <div class="confetti-98"></div>
    <div class="confetti-97"></div>
    <div class="confetti-96"></div>
    <div class="confetti-95"></div>
    <div class="confetti-94"></div>
    <div class="confetti-93"></div>
    <div class="confetti-92"></div>
    <div class="confetti-91"></div>
    <div class="confetti-90"></div>
    <div class="confetti-89"></div>
    <div class="confetti-88"></div>
    <div class="confetti-87"></div>
    <div class="confetti-86"></div>
    <div class="confetti-85"></div>
    <div class="confetti-84"></div>
    <div class="confetti-83"></div>
    <div class="confetti-82"></div>
    <div class="confetti-81"></div>
    <div class="confetti-80"></div>
    <div class="confetti-79"></div>
    <div class="confetti-78"></div>
    <div class="confetti-77"></div>
    <div class="confetti-76"></div>
    <div class="confetti-75"></div>
    <div class="confetti-74"></div>
    <div class="confetti-73"></div>
    <div class="confetti-72"></div>
    <div class="confetti-71"></div>
    <div class="confetti-70"></div>
    <div class="confetti-69"></div>
    <div class="confetti-68"></div>
    <div class="confetti-67"></div>
    <div class="confetti-66"></div>
    <div class="confetti-65"></div>
    <div class="confetti-64"></div>
    <div class="confetti-63"></div>
    <div class="confetti-62"></div>
    <div class="confetti-61"></div>
    <div class="confetti-60"></div>
    <div class="confetti-59"></div>
    <div class="confetti-58"></div>
    <div class="confetti-57"></div>
    <div class="confetti-56"></div>
    <div class="confetti-55"></div>
    <div class="confetti-54"></div>
    <div class="confetti-53"></div>
    <div class="confetti-52"></div>
    <div class="confetti-51"></div>
    <div class="confetti-50"></div>
    <div class="confetti-49"></div>
    <div class="confetti-48"></div>
    <div class="confetti-47"></div>
    <div class="confetti-46"></div>
    <div class="confetti-45"></div>
    <div class="confetti-44"></div>
    <div class="confetti-43"></div>
    <div class="confetti-42"></div>
    <div class="confetti-41"></div>
    <div class="confetti-40"></div>
    <div class="confetti-39"></div>
    <div class="confetti-38"></div>
    <div class="confetti-37"></div>
    <div class="confetti-36"></div>
    <div class="confetti-35"></div>
    <div class="confetti-34"></div>
    <div class="confetti-33"></div>
    <div class="confetti-32"></div>
    <div class="confetti-31"></div>
    <div class="confetti-30"></div>
    <div class="confetti-29"></div>
    <div class="confetti-28"></div>
    <div class="confetti-27"></div>
    <div class="confetti-26"></div>
    <div class="confetti-25"></div>
    <div class="confetti-24"></div>
    <div class="confetti-23"></div>
    <div class="confetti-22"></div>
    <div class="confetti-21"></div>
    <div class="confetti-20"></div>
    <div class="confetti-19"></div>
    <div class="confetti-18"></div>
    <div class="confetti-17"></div>
    <div class="confetti-16"></div>
    <div class="confetti-15"></div>
    <div class="confetti-14"></div>
    <div class="confetti-13"></div>
    <div class="confetti-12"></div>
    <div class="confetti-11"></div>
    <div class="confetti-10"></div>
    <div class="confetti-9"></div>
    <div class="confetti-8"></div>
    <div class="confetti-7"></div>
    <div class="confetti-6"></div>
    <div class="confetti-5"></div>
    <div class="confetti-4"></div>
    <div class="confetti-3"></div>
    <div class="confetti-2"></div>
    <div class="confetti-1"></div>
    <div class="confetti-0"></div>
</div>

		<div style="text-align: center">
			<h1 style="text-align: center; padding-bottom: 16px">Your Gift Idea Request Has Been Submitted</h1>
			<p>Thanks for filling out the quiz! We'll get back to you with an email when your gift ideas are ready,
				make sure to check back regularly so you don't miss them.</p>
			<a class="ui primary button" href="{% url "forgyftapp:request" %}">
				Back to My Requests
			</a>
		</div>
	</div>
{% endblock %}
