{% extends "base.html" %}
{% block content %}
	<div class="ui three column stackable grid">
		<div class="four wide column"></div>
		<div class="eight wide center column">
			<h1 style="font-weight: bold; text-align:center;">Forgyft</h1>

			<div class="ui divider"></div>

			<p style="text-align: center; padding-bottom: 4px; font-size: 16px">Find the perfect gift ideas.</p>

{#			<div class="ui three column grid">#}
{#				<div class="row">#}
{#					<div class="column">#}
{#						<div class="ui center aligned container">#}
{#							<i class="truck large icon" style="text-align: center"></i>#}
{#							<p style="padding-top: 4px">Free Shipping</p>#}
{#						</div>#}
{#					</div>#}
{#					<div class="column">#}
{#						<div class="ui center aligned container">#}
{#							<i class="users large icon" style="text-align: center"></i>#}
{#							<p style="padding-top: 4px">Powered by People</p>#}
{#						</div>#}
{#					</div>#}
{#					<div class="column">#}
{#						<div class="ui center aligned container">#}
{#							<i class="paypal large icon" style="text-align: center"></i>#}
{#							<p style="padding-top: 4px">Secured by PayPal</p>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
			<div style="text-align: center">
				{% if request.user.is_authenticated %}
					{% url 'index' as url %}
					{% include "form_template.html" with action=url action_text="Submit" %}
				{% else %}
					<h3>Login to submit a gift idea request.</h3>
				{% endif %}

			</div>
		</div>
		<div class="four wide column"></div>
	</div>

	<div class="ui hidden divider"></div>
{% endblock %}