{% extends "base/base.html" %}

{% block content %}
	<div class="ui main container">
		{% if not giftee_profile %}
			<h1 style="text-align: center; padding-bottom: 16px">Your Gift Requests</h1>
			<div style="margin-left:auto;margin-right:auto;">
				<div class="ui centered stackable three cards">
					<div class="ui fluid card">
						<div class="content">
							<div class="header">
								New Gift Request
							</div>
							<div class="meta"> Anyone
							</div>
							<div class="description">
								Create a new gift request to get ideas for what to get someone for that
								upcoming special event.
							</div>
						</div>
						<div class="extra content">
							<a class="ui labeled icon fluid primary button" href="{% url "forgyftapp:gift_form" %}">
								<i class="ui icon add"></i>
								New Gift Request
							</a>
						</div>
					</div>
					{% for giftee_profile in giftee_profiles %}
						<div class="ui fluid card" style="width: calc(33.33333333% - 2em);">
							<div class="content">
								<div class="header">
									Gift Ideas for {{ giftee_profile.name }}
								</div>
								<div class="meta">
									{{ giftee_profile.relationship }}
								</div>
								<div class="description">
									{{ giftee_profile.status }}
								</div>
							</div>
							<div class="extra content">
								<a class="ui {% if not giftee_profile.published %}disabled grey {% else %}primary {% endif %}fluid  button"
								   href="{% url "forgyftapp:request" slug=giftee_profile.slug %}">View Gift
									Ideas</a>
							</div>
						</div>
					{% endfor %}
				</div>
				{#					</div>#}
			</div>
		{% else %}
			<h1 class="ui header" style="text-align: center; padding-bottom: 4px">Gift Ideas
				for {{ giftee_profile.name }}</h1>
			<div style="margin-left:auto;margin-right:auto;">
				<div class="ui three centered stackable cards">
					{% for idea in ideas %}
						<div class="ui large card">
							<div class="content">
								{% if idea.image %}
									<div class="image img-content">
										<img src="{{ idea.image }}">
									</div>
								{% endif %}
								<div class="header">
									{{ idea.idea }}
								</div>
								<div class="description">
									{{ idea.explanation }}
								</div>
							</div>
							<div class="extra content">
								<a class="ui primary fluid button"
								   href="{% url "forgyftapp:view_gift" gift=idea.pk %}" target="_blank">View
									Gift on {{ idea.domain|title }}</a>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="ui container segment info-container">
					<h3 class="ui header" style="text-align: center">Gift Idea Feedback</h3>
					{% if hasFeedback %}
						<div class="ui small positive message">
							<div class="header">
								Thanks for submitting feedback!
							</div>
							<p>We really appreciate your feedback on these gift ideas as we always work to
								improve
								our service! Feel free to edit your feedback below if you left anything out,
								you're
								also
								welcome to start a conversation with us if you'd like a response by typing your
								message in the chat box in the bottom right.
							</p>
						</div>
					{% endif %}
					{% include "base/form_template.html" with stars=True form=feedback_form action_text="Submit" %}
				</div>
				{% if giftee_profile.email %}
					<div class="ui text container segment info-container" style="text-align: center">
						<h3 class="ui header">Save Your Gift Ideas</h3>
						{% if giftee_profile.has_user %}
							<div class="ui small positive message">
								<div class="header">
									Account Successfully Linked
								</div>
								<p>
									Your gift ideas have been successfully linked to your account, you can
									come back to them later at any time by signing into your account and
									heading to your <a href="{% url "forgyftapp:request" %}">gift requests</a>.
								</p>
							</div>
						{% endif %}
						<p>Want to save your ideas so you can come back later, just link an account!</p>
						<a href="{% url "forgyftapp:link_request" slug=giftee_profile.slug %}?email=
{{ giftee_profile.email|urlencode }}"
						   class="ui primary {% if giftee_profile.has_user %}disabled {% endif %}button">
							Link an Account
						</a>
					</div>
				{% endif %}
				<div class="ui basic segment info-container">
					{% include "base/giftee_profile.html" with closed=True %}
				</div>

			</div>
		{% endif %}
	</div>
{% endblock %}

{% block extra_dependencies %}
	<link rel="stylesheet" type="text/css"
	      href="{% load static %}{% static "stylesheets/responsive-semantic.min.css" %}">
	<style type="text/css">
		div.container.info-container,
		div.segment.info-container {
			width: 100% !important;
			margin-right: 0 !important;
			margin-left: 0 !important;
		}

		div.basic.segment.info-container {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}

		.img-content {
			margin: 12px 0 12px 0;
			height: 300px;
		}

		.img-content img {
			width: auto;
			max-width: 100%;
			display: block !important;
			margin-left: auto;
			margin-right: auto;
			height: inherit;
		}


	</style>
{% endblock %}